# Bonus: Temperature Analysis I

In [52]:
import pandas as pd
from datetime import datetime as dt

In [53]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [54]:
# Convert the date column format from string to datetime
df['date']=pd.to_datetime(df['date'])

In [55]:
# Set the date column as the DataFrame index
df=df.set_index('date')

In [58]:
# Drop the date column
df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [ ]:
from scipy import stats

In [74]:
# Filter data for desired months
dfJ=df.filter(like='-07-',axis=0)
dfD=df.filter(like='-12-',axis=0)
ndf=df1.append(df2)
ndf

                station  prcp  tobs
date
2010-07-01  USC00519397  0.01    75
2010-07-02  USC00519397  0.05    77
2010-07-03  USC00519397  0.09    77
2010-07-04  USC00519397  0.05    78
2010-07-05  USC00519397  0.06    78
...                 ...   ...   ...
2016-12-27  USC00516128  0.14    71
2016-12-28  USC00516128  0.14    71
2016-12-29  USC00516128  1.03    69
2016-12-30  USC00516128  2.37    65
2016-12-31  USC00516128  0.90    65

[3228 rows x 3 columns]

In [75]:
# Identify the average temperature for June
june_mean=dfJ['tobs'].mean()

In [76]:
# Identify the average temperature for December
dec_mean=dfJ['tobs'].mean()

In [ ]:
# Create collections of temperature data

In [77]:
# Run paired t-test
stats.ttest_ind(june_mean,dec_mean)

C:\Users\frank\anaconda\lib\site-packages\numpy\core\fromnumeric.py:3621: RuntimeWarning: Degrees of freedom <= 0 for slice
  return _methods._var(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
C:\Users\frank\anaconda\lib\site-packages\numpy\core\_methods.py:226: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

Ttest_indResult(statistic=nan, pvalue=nan)

### Analysis